IF/common/src/resources/service_description_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://www.planets-project.eu/services/tools" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="description" type="xs:string"/>

  <xs:element name="homepage" type="xs:anyURI"/>

  <xs:element name="identifier" type="xs:string"/>

  <xs:element name="name" type="xs:string"/>

  <xs:element name="version" type="xs:string"/>
</xs:schema>

