core/services/src/main/resources/dcterms.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://purl.org/dc/terms/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="creator" type="xs:string"/>

  <xs:element name="description" type="xs:string"/>

  <xs:element name="identifier" type="xs:string"/>

  <xs:element name="publisher" type="xs:string"/>

  <xs:element name="title" type="xs:string"/>
</xs:schema>

