IF/fedora/src/java/eu/planets_project/fedora/connector/planets/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="planetsDatastream" type="planetsDatastream"/>

  <xs:complexType name="planetsDatastream">
    <xs:sequence>
      <xs:element name="filedatastream" type="datastream" minOccurs="0"/>
      <xs:element name="metadatastreams" type="datastream" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="datastream">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

